{% import 'unit/head.html' as head %}
{% import 'unit/header.html' as header %}
{% import 'unit/sidebar.html' as sidebar %}
{% import 'unit/footer.html' as footer %}
{% import 'unit/after_footer.html' as after_footer %}
{% import 'unit/categories.html' as categories %}
{% import 'unit/tags.html' as tags %}
{% import 'unit/search.html' as search %}

{{ head.head() }}
<body>
    <header>
        {{ header.header() }}
    </header>

    {% block main %}
        {{ body }}
    {% endblock %}

    <footer>{{ footer.footer() }}</footer>
    {{ after_footer.after_footer() }}
</body>
