{% import 'unit/head.html' as head  %}
{% import 'unit/header.html' as header  %}
{% import 'unit/sidebar.html' as sidebar  %}
{% import 'unit/footer.html' as footer  %}
{% import 'unit/after_footer.html' as after_footer  %}
{% import 'unit/categories.html' as categories  %}
{% import 'unit/tags.html' as tags  %}
{% import 'unit/search.html' as search  %}

{{ head.head(page) }}
<body>
    <header>
        {{ header.header() }}
    </header>

    <div id="container">
        {% block main %}
        {% endblock %}

        {% block sidebar %}
        {% endblock sidebar %}
    </div>

    <footer>{{ footer.footer() }}</footer>
    {{ after_footer.after_footer(page) }}
</body>

