{% import 'unit/article.html' as article %}
{% import 'unit/pagination.html' as pagination %}
{% import 'layout.html' as layout %}

{#{{ layout.layout(page) }}#}

<div id="main">
    {% for post in page.posts %}
        {{ article.article(item=post, index=true, desc=true) }}
    {% endfor %}

    {% if page.total > 1 %}
        <nav id="page-nav" class="clearfix {% if not theme.index.expand %} unexpand {% endif %}">
        {{ pagination.pagination(page={'prev': '<span></span>Prev', 'next': 'Next<span></span>'}) }}
        </nav>
    {% endif %}
</div>