{% macro layout(page) %}

    {% import 'unit/head.html' as head %}
    {% import 'unit/header.html' as header %}
    {% import 'unit/sidebar.html' as sidebar %}
    {% import 'unit/footer.html' as footer %}
    {% import 'unit/after_footer.html' as after_footer %}
    {% import 'unit/categories.html' as categories %}
    {% import 'unit/tags.html' as tags %}
    {% import 'unit/search.html' as search %}

    {% if page.layout == 'post' or page.layout == 'photo' %}
            {{ head.head() }}
            <body>
                <header>
                    {{ header.header() }}
                </header>
                <div id="container">
                    {{ body }}
                    {{ sidebar.sidebar(item=page, table=true) }}
                </div>
                <footer>{{ footer.footer() }}</footer>
                {{ after_footer.after_footer() }}
            </body>
        </html>
    {% elif page.layout == 'page' %}
        {% if page.source.endswith('.md') %}
            {{ head.head() }}
            <body>
                <header>
                    {{ header.header() }}
                </header>
                <div id="container">
                    {{ body }}
                </div>
                <footer>{{ footer.footer() }}</footer>
                {{ after_footer.after_footer() }}
            </body>
            </html>
        {% else %}
            {{ page.content }}
        {% endif %}
    {% elif page.layout == 'search' %}
        {{ head.head() }}
        <body>
          <header>
              {{ header.header() }}
          </header>
          <div id="container">
              {{ search.search() }}
          </div>
          <footer>{{ footer.footer() }}</footer>
          {{ after_footer.after_footer() }}
        </body>
       </html>
    {% elif page.layout == 'tags' %}
        {{ head.head() }}
        <body>
          <header>
              {{ header.header() }}
          </header>
          <div id="container">
              {{ tags.tags() }}
          </div>
          <footer>{{ footer.footer() }}</footer>
          {{ after_footer.after_footer() }}
        </body>
       </html>
    {% elif page.layout == 'categories' %}
        {{ head.head() }}
        <body>
          <header>
              {{ header.header() }}
          </header>
          <div id="container">
              {{ categories.categories() }}
              {{ cate }}
          </div>
          <footer>{{ footer.footer() }}</footer>
          {{ after_footer.after_footer() }}
        </body>
       </html>
    {% elif page.category or page.tag or page.archive %}
        {{ head.head() }}
        <body>
          <header>
              {{ header.header() }}
          </header>
          <div id="container">
            {{ body }}
          </div>

          <footer>{{ footer.footer() }}</footer>
          {{ after_footer.after_footer() }}
        </body>
       </html>
    {% else %}
        {{ head.head() }}
        <body>
            <header>
                {{ header.header() }}
            </header>
            <div id="container">
                {{ body }}
                {{ sidebar.sidebar(item=page, table=false) }}
            </div>
            <footer>{{ footer.footer() }}</footer>
            {{ after_footer.after_footer() }}
        </body>
        </html>
    {% endif %}
{% endmacro %}