{% macro archive(page) %}
    {% import 'unit/post.html' as post %}


    {% if page.category %}
        {% set title = page.category %}
        {% set icon = 'category' %}
    {% endif %}

    {% if page.tag %}
        {% set title = page.tag %}
        {% set icon = 'tag' %}
    {% endif %}


    {% if page.archive %}
        {% set icon = 'archive' %}

        {% if page.year %}
            {% if page.month %}
                {% set month = '/' + page.month|string %}
            {% else %}
                {% set month = '' %}
            {% endif %}

            {% set title = page.year|string + month %}
        {% else %}
            {% set title = gettext('archive_a') %}
        {% endif %}
    {% endif %}

    <div class="archive-title" >
      <h2 class="{{ icon }}-icon">{{ title }}</h2>
        {% if page.archive %}
            <div class="archiveslist archive-float clearfix">
                {{ list_archives({'format': gettext('archive_date')}) }}
            </div>
        {% endif %}
    </div>

    <div id="main" class="archive-part clearfix">
        <div id="archive-page">
            {% import 'unit/article_row.html' as article_row %}

            {% for post in page.posts %}
                {{ article_row.article_row(item=post) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}