{% macro categories() %}
    <div class="archive-title" >
    <h2 class="category-icon">{{ gettext('categories') }}</h2>
        {% for category in site.categories|sort(attribute='name') %}
            <a data-src="{{ config.root }}{{ category.path }}" href="#{{ category.name }}" title="{{ category.name }}">{{ category.name }}<sup>{{ category.posts|length }}</sup></a>
        {% endfor %}
    </div>

    <div id="main" class="archive-part">
    <div class="all-list-box"></div>
</div>


{% endmacro %}