{% macro categories() %}
    <div class="archive-title" >
        <h2 class="category-icon">{{ gettext('categories') }}</h2>
        {% for category in site.categories|sort(attribute='name') %}
{#                <a data-src="{{ config.root }}{{ category.path }}" href="#{{ category.name }}" title="{{ category.name }}">#}
            <a data-src="{{ config.root }}{{ category.path }}" href="{{ config.root }}{{ category.path }}" title="{{ category.name }}">
                {{ category.name }}
                <sup>{{ category.posts|length }}</sup>
            </a>
        {% endfor %}
    </div>
{% endmacro %}