{# 文章 #}
{% macro article(article, table) %}
    <div id="main" class="{{ article.layout }}" itemscope itemprop="blogPost">
        {% if article.layout == 'photo' and article.photos and article.photos|length %}
            {{ gallery() }}
        {% endif %}

        <article itemprop="articleBody">
            {{ header(article) }}
            <div class="article-content">
                {# 生成目录 #}
                {% if (table and (article.toc != false)) and theme.toc.article %}
                    <div id="toc" class="toc-article">
                        <strong class="toc-title">{{ gettext('contents') }}</strong>

                        {% if article.list_number == false %}
                            {{ toc(article.content, {'list_number': false}) }}
                        {% else %}
                            {{ toc(article.content) }}
                        {% endif %}
                    </div>
                {% endif %}

                {# 文章内容 #}
                {{ article.content }}
            </div>
            {# 文章的footer #}
            {{ footer(article, 1) }}
        </article>
        {{ pagination(article) }}
        {{ comment(article) }}
    </div>
{% endmacro %}

{# 分类和标签 #}
{% macro catetags(article) %}
    <div class="article-catetags">
        {% if article.categories and article.categories|length %}
            <div class="article-categories">
              <span></span>
                {{ list_categories(article, article.categories, {
                'show_count': false,
                'class': 'article-category',
                'style': 'none',
                'separator': '►'})|safe
                }}
            </div>
        {% endif %}

        {% if article.tags and article.tags|length %}
            <div class="article-tags">
                {% set tags = [] %}

                {% for tag in article.tags %}
                    {{ tags.append('<a href="' + config.root + tag.path + '">' + tag.name + '</a>') }}
                {% endfor %}

                <span></span> {{ ''.join(tags) }}
             </div>
        {% endif %}
    </div>
{% endmacro %}

{# 评论 #}
{% macro comment(article) %}
    {% if theme.duoshuo_shortname and article.comments %}
        <section id="comments" class="comment">
            <div class="ds-thread" data-thread-key="{{ article.path }}" data-title="{{ article.title }}" data-url="{{ article.permalink }}"></div>
        </section>
    {% endif %}

    {% if (config.disqus_shortname or theme.disqus_shortname) and article.comments %}
        <section id="comments" class="comment">
          <div id="disqus_thread">
            <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </section>
    {% endif %}
{% endmacro %}

{# 脚注 #}
{% macro footer(article, index) %}
    <footer class="article-footer clearfix">
        {{ catetags(article) }}

        {% if not index %}
            <div class="article-share" id="share">
            {% if theme.jiathis.enable %}
                <div class="share-jiathis">
                    {{ jiathis() }}
                </div>
            {% else %}
                <div data-url="{{ article.permalink }}" data-title="{% if article.title %} {{ article.title }} | {{ config.title }} {% endif %}"
                     data-tsina="{{ theme.author.tsina }}" class="share clearfix">
                </div>
            {% endif %}
            </div>
        {% else %}
            <div class="comments-count">
                {% if (config.disqus_shortname or theme.disqus_shortname) and not theme.duoshuo_shortname %}
                    <span></span>
                    <a href="{{ config.root }}{{ article.path }}#disqus_thread" class="comments-count-link">Comments</a>
                {% elif theme.duoshuo_shortname %}
                    <span></span>
                    <a href="{{ config.root }}{{ article.path }}#comments" class="ds-thread-count comments-count-link" data-thread-key="{{ article.path }}" data-count-type="comments">&nbsp;</a>
                {% endif %}
            </div>
        {% endif %}
    </footer>
{% endmacro %}

{# 画廊 #}
{% macro gallery(article) %}
    <div class="gallery">
        <div class="photoset">
          {% if article.photos|length %}
              {% for photo in article.photos %}
                  <img src="{{ photo }}">
              {% endfor %}
{#          {% else %}#}
{#              <img src="{{ article.photos }}">#}
          {% endif %}
        </div>

        <div class="control">
            <div class="prev"></div>
            <div class="next"></div>
        </div>
    </div>
{% endmacro %}

{# 头部 #}
{% macro header(article) %}
    <header class="article-info clearfix">
      <h1 itemprop="name">
          {% if article.link %}
              <a href="{{ article.link }}" target="_blank" title="{{ article.title }}">{{ article.title }}</a>
          {% else %}
              <a href="{{ config.root }}{{ article.path }}" title="{{ article.title }}" itemprop="url">{{ article.title }}</a>
          {% endif %}
      </h1>

{#      <p class="article-author">By#}
{#          {% if theme.author.google_plus %}#}
{#              <a href="https://plus.google.com/{{ theme.author.google_plus }}?rel=author" title="{{ config.author }}" target="_blank" itemprop="author">{{ config.author }}</a>#}
{#          {% else %}#}
{#              <a href="{{ config.root }}about" title="{{ config.author }}" target="_blank" itemprop="author">{{ config.author }}</a>#}
{#          {% endif %}#}
{#      </p>#}

      <p class="article-time">
        <time datetime="{{ date_xml(article.date) }}" itemprop="datePublished"> {{ gettext('datepublished') }} {{ article.date.strftime(config.date_format) }}</time>
      </p>
    </header>
{% endmacro %}


{% macro jiathis(article) %}
    {% if theme.jiathis.enable %}
        <div class="jiathis_style_24x24">
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_renren"></a>
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_googleplus"></a>
            <a class="jiathis_button_douban"></a>
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
            <a class="jiathis_counter_style"></a>
        </div>

        <script type="text/javascript" >
            var jiathis_config= {
                        data_track_clickback: true,
                        sm: "copy,renren,cqq",
                        pic: "{{ article.photos }}",
                        summary: "",
                        {% if theme.jiathis.tsina %}
                            relateuid: {"tsina": "{{ theme.jiathis.tsina }}"},
                            hideMore: false
                        {% endif %}
                    }
          </script>

        <script type="text/javascript" src="//v3.jiathis.com/code/jia.js?uid={{ theme.jiathis.id|default }}" charset="utf-8"></script>
    {% endif %}
{% endmacro %}

{# 上下文章导航 #}
{% macro pagination(article) %}
    {% if article.prev or article.next %}
        <nav class="article-nav clearfix">
            {% if article.prev %}
                <div class="prev" >
                    <a href="{{ config.root }}{{ article.prev.path }}" title="{{ article.prev.title }}">
                        <strong>上一篇：</strong><br/>
                        <span>
                            {{ article.prev.title|default('no title') }}
                        </span>
                    </a>
                </div>
            {% endif %}

            {% if article.next %}
                <div class="next">
                    <a href="{{ config.root }}{{ article.next.path }}"  title="{{ article.next.title }}">
                     <strong>下一篇：</strong><br/>
                        <span>
                            {{ article.next.title|default('no title') }}
                        </span>
                    </a>
                </div>
            {% endif %}
        </nav>
    {% endif %}
{% endmacro %}